@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  background-color: #282F37;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.body_content {
  margin-top: 80px;
  height: 100%;
  top: 0;
  bottom: 0;
}

.meny {
  text-align: center;
  line-height: 80px;
  background-color: #1D232A;
  width: 100%;
  top: 0;
  position: fixed;

  .active {
    box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.50);
  }
  .color_red {
    background-color: #FF0000;
  }
  .color_green {
    background-color: #7ED321;
  }
  .color_purple {
    background-color: #BD0FE1;
  }
  .color_blue {
    background-color: #4990E2;
  }
  .color_orange {
    background-color: #F6A623;
  }



  .meny_link {

    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0px 10px;
  }


}

.meny_height {
  height: 80px;
}
