@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  background-color: #282F37;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.meny {
  background-color: #1D232A;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  color: #FFFFFF;
  text-align: center;
}

.body_content {
    margin-left: 100px;
    margin-top: 50px;
    height: 100%;
    top: 0px;
    bottom: 0px;
}
.user_meny {
  margin-left: 100px;
  height: 50px;
  background-color: #D0021B;
  width: 100%;
  top: 0px;
  position: fixed;
}
