.login_body {


  .login_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    align-content: center;
    background-color: #FFFFFF;
    padding: 60px;
    margin-top: 150px;
  }
}
